*~
*ncdump*
*#
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
m4/
missing
netcdf-types.bin
netcdf.lo
netcdf.o
stamp-h1
*.bci
*.bin
*.com
*.nc
*.exe
*.out
*const*
*shim*
*.lo
*.o
*.png