*~
*ncdump*
*#
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
netcdf-const
netcdf-const.bin
netcdf-const.c
netcdf-const.o
netcdf-const.scm
netcdf-shim.c
netcdf-shim.la
netcdf-shim.lo
netcdf-shim.o
netcdf-types.bin
netcdf.lo
netcdf.o
stamp-h1
*.bci
*.bin
*.com
*.nc
*.exe